# Ignore Jupyter Notebook checkpoints and files
.ipynb_checkpoints/

# Ignore all files inside 'test' or 'train' directories
test/*
train/*

# Ignore all files inside folders starting with 'loss_plots'
loss_plots*/*